<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Origins</h1>
      <br></br>
      <img class="about_img" src="{{static '/img/mother_and_me.jpg'}}"></img>
      <p class="caption">
      My mom and I when I was but a babe
      </p>
      <br></br>
      <div class="text_section">
      <p>
    My name is Alberto or Tristan depending on when you met me.  The latter is my middle name which I started going by since early this year.  Take your pick!
      </p>
      <p>
    My story really begins a while ago, long before my birth. It was in 1979 that one could mark the beginning of the Salvadoran Civil War, the details of which are really not that special for a third world country often ensnared in these kinds of bloody affairs. My father was 17 at the time, living in a lush rural area with a partial high school education and not much to his name. After experiencing first hand the seemingly never-ending violence and deaths around him, he immigrated to Mexico to avoid being drafted into a probable death by guerilleros fighting against an oppressive government regime.
      </p>
      <p>
    It was there he met my mother and started a life together. My mother is from the state of Chihuahua (yes, like the dog), which is basically straight south of Texas. Not long after, they made the important decision to immigrate one more country up and come to the United States in 1983. The San Francisco 49er’s were pretty amazing at the time and my parents have been fans ever since!
      </p>
      <p>
    I had the good fortune to be born in 1990 in Los Angeles, CA, avoiding much of the relative poverty and lack of opportunity my parents had to face. I was raised my entire life in Southern California, instilled with my parents undying belief that with proper education and hard work one could make anything of themselves in this country.  It is against this backdrop that much of my life took form and shape.
      </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Childhood</h1>
      <br></br>
      <img class="about_img" src="{{static '/img/siblings.JPG'}}"></img>
      <p class="caption">
      My siblings and I when we were kids.
      </p>
      <br></br>
      <div class="text_section">
      <p>
    According to my mother, I nearly died at birth due to suffocation.  That may have killed a few brain cells.  I'd like to think I would have been a frikkin' genius were it not for that little natal snafu!
      </p>
      <p>
    I was raised my entire life in Southern California, bouncing around around from city to city.  Just off the top of my head, this includes places with names as wonderful as the aforementioned Los Angeles, Ontario, Corona, Fontana, Norco, and Rancho Cucamonga.  Rancho Cucamonga is the last place I lived in and where my parents currently reside.  As far as I know, the only reasons someone would know of this town are:
        <ul>
          <li> in one particular Simpson's episode, Krusty the Clown has Rancho Cucamonga as number 3 in his Top 10 Funny City Names list</li>
          <li> it is the town the movie Next Friday is based in </li>
          <li> it is also the town that the excellent (well, at least for a couple of seasons) comedy show Workaholics takes place in.</li>
        </ul>
     </p>
      <p>
    My elementary school days were spent at Corona Elementary School in Ontario, CA.  I didn't realize it at the time, but apparently it was not a very "good" neighborhood.  It would only be years later that I would realize a school with 95%+ Hispanic and Black students was not the norm experience for most kids in the United States.  Interestingly enough, my first encounter with drugs of any sort was when the one white kid at school brought weed to school.
      </p>
      <p>
    My mother was what the best selling author Amy Chua might call a "tiger mom".  She was a loving and doting stay-at-home mother who did everything for me and my siblings, but she was also a pretty strict mother when it came to schooling and education.  People look at me today and think I'm smart when really I just had good habits drilled into me at a young age.
      </p>
      <p>
    My father was / is a truck driver and, for as long as I can remember, worked long hours out on the road to make sure we never lacked for material possessions.  Yet, despite that, he always seemed to have an unbounded sense of energy and happiness to hang out and stuff.
      </p>
      <p>
    Middle school was an interesting turning point in my life.  I had "won" an interdistrict lottery transfer, which granted my mother the privilege of driving an extra 30-40 minutes to take me to a better middle school.  This also meant I knew no one at school.  Still, I made some classically nerdy friends with whom I could play Magic the Gathering, Yu-Gi-Oh, and read comic books with in short order.  It was also around this time I started doing Kenpo Karate, something I would eventually get a black belt in.  I was also a pretty good flag football defensive end and was on the school's journalism team.
      </p>
      <p>
    High school was another interdistrict transfer to a better school, another new place with thousands of students of whom I knew no one initially.  I played some football but was really too scrawny to be of much use until later in high school when I started lifting weights.  Lifting weights turned me from a skinny, acne ridden kid to a decently swole, acne ridden kid which was nice.  I also wrestled on the varsity team here.  I was also involved in a few random school clubs people tell you to join because it looks good on your college applications.  I ended up graduating valedictorian and having a lot of fun along the way.
      </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>College</h1>
      <br></br>
      <img class="about_img" src="{{static '/img/stanford.jpg'}}"></img>
      <p class="caption">
      The picturesque college campus I used to call home!
      </p>
      <br></br>
      <div class="text_section">
      <p>
    I went to Stanford University in 2008. I initially considered being an English major because writing has always been something special to me and reading literary classics was basically how I spent my summers as a high school kid. But reality is a stern mistress. I figured I should do that as a hobby and instead do something more lucrative. I fell into Management Science and Engineering, which is basically an amalgam of finance, operations research, and general engineering. I realized that calculating dollar values in spreadsheets was not the most terribly exciting thing in the world and so I switched into the Mathematical & Computational Science major even though I was pretty much already done with the prior major. I finally graduated with dual majors in both these things in the spring of 2012.
      </p>
      <p>
    College was great.  It was the first time I would drink and do other stuff.  I was in what was basically the engineering fraternity here.  The rest of the time was spent being lazy, working out, studying from time to time, and not really worrying about the future too much.
      </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>New York City</h1>
      <br></br>
      <img class="about_img" src="{{static '/img/brooklyn_engineer.jpg'}}"></img>
      <p class="caption">
      Working from home has it's advantages sometimes.
      </p>
      <br></br>
      <div class="text_section">
      <p>
    Upon graduation, I moved to New York City because “why the hell not?” seemed like a perfectly valid reason at the time (still does, actually). I got a job working as a data scientist at Match Media Group, which owns many beloved online dating sites like OkCupid and Tinder. According to a <a href="https://www.glassdoor.com/List/Best-Jobs-in-America-LST_KQ0,20.htm">recent article</a> put forth by GlassDoor, data scientist is number 1 so that’s kind of neat.
      </p>
      <p>
    However, I really missed suffering through my math and computer science classes and needed to be abused just one last time. I ended up getting my master’s degree in computer science at Columbia University. Being student poor in NYC while trying to make the last of your savings from your previous job stretch as far as possible was quite the experience.  There's the starving artist, then there's the starving engineering student.
      </p>
      <p>
    My first job out of grad school was at Shutterstock (not to be confused with Shutterfly), where I helped solve interesting search related problems using statistical machine learning tools.  As a machine learning engineer there, I worked on various projects including creating a new spellcheck service, working on a new machine learning based search ranking system, implementing an automated image keyword tagger, and a celebrity identification application.
      </p>
      <p>
    I am currently on hiatus from any kind of work, but will soon be joining the fine folks at SquareSpace as one of their first machine learning engineers.  We will be responsible for building out the machine learning infrastructure there and bringing data-driven solutions out to the forefront that can improve the user experience for the millions of people who use SquareSpace as the basis of their online identity.
      </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Personal Interests and Goals</h1>
      <br></br>
      <img class="about_img" src="{{static '/img/fitness.jpg'}}"></img>
      <p class="caption">
      High Intensity Interval Training classes are necessary if you want to have abs and still eat, apparently!
      </p>
      <br></br>
      <div class="text_section">
      <p>
I am a Brooklyn-based software developer whose main interests lie in anything data related. I enjoy building cool, data-driven products and technologies that can help solve interesting problems and / or help people experience life in new or interesting ways.  Some topics I enjoy learning about and have been involved in:
      <ul>
        <li>functional programming</li>
        <li>machine learning</li>
        <li>backend web development (I built this site using NodeJS + Express like all the other cool kids)</li>
        <li>big data technologies like Spark and HDFS</li>
        <li>data science</li>
      </ul>
      <p>
    Outside of work, one of the biggest activities I enjoy is this nebulous thing called “fitness”. I'd otherwise go insane sitting in front of a computer for 8 hours a day.  Right now my current fitness schedule is:
    <ul>
      <li>Weight lifting: Monday, Wednesday, Friday</li>
      <li>Yoga: Tuesday, Thursday</li>
      <li>Rock climbing: Saturday, Sunday</li>
      <li>Biking: Saturday, Sunday</li>
    </ul>
I also try running when I can so my cardio is not absolutely terrible, although I am far more inconsistent with that aspect of it all. I started lifting to look good, but, at this point, I just do it because it’s fun and a good way to clear my mind from a job existing within almost purely within the realms of the entirely logical and predictable.
      </p>
      <p>
        I am also part of a co-ed kickball team in Manhattan called "The Full Monty".  We play kickball and then flip cup on Thursdays.  We are, bar none, the best kickball team in all of Manhattan or so I hear.
      </p>
      <p>
    I also enjoy doing some creative writing in my free time when I am alone and have not much else to do. Usually this involves settling upon some random, but interesting or provocative prompt and going with it, wherever that may lead. Writing a novel is definitely something I want to do someday even if no one reads it. We’ll see.  I also enjoy writing satirical pieces from time to time, usually politically centered.
      </p>
      <p>
    I am also fulfilling my long delayed goal of picking up a musical instrument. I continuously played the guitar for like 3 months straight before being swamped by grad school. I am picking that up again and doing guitar classes in the city.  My goal is to become a mediocre guitar player and play Justin Bieber acoustic covers as part of a hip new band called "Bushwick Bop" or something.
      </p>
      <p>
    And, of course, it’s New York City. So, like 95% of the people here, I find myself often drinking at some awful / great bar with my fellow aged 20-something friends on weekends or staying in watching Netflix because my face hurts from the cold.
      </p>
      </div>
      <br></br>
      <br></br>
      <br></br>
    </div>
  </div>

</div>
